@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/components.css";

:root {
  --sidebar-width: 18rem;
}

@media (min-width: 1024px) {
  :root {
    --sidebar-width: 20rem;
  }
}

.sidebar-width {
  width: var(--sidebar-width);
}

html, body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, [contenteditable="true"], [contenteditable=""] {
  -webkit-user-select: text;
  user-select: text;
}
